#login {
	position: absolute;
	margin: auto;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
}

#login-box {
	margin : auto;
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	width : 210px;
	height: 200px;
	z-index: 3;
}

#login-box input {
	margin-top : 10px;
}

#tchat {
	margin: auto;
	position: absolute;
	height: 600px;
	width: 700px;
	top: 10px;
	right: 0;
	bottom: 10px;
	left: 0;
	z-index: 1;
}

.panel-heading {
	position: absolute;
	z-index: 1;
}

.panel-users > .panel-heading {
	width: 20%;
}

li:nth-child(1) {
	margin-top: 50px;
}

.panel-users {
	width: 20%;
	height: 100%;
	overflow: auto;
	float: left;
	text-align: center;
}

.panel-center {
	width: 80%;
	height: 100%;
	overflow: auto;
	float: right;
}

.panel-center > .panel-heading {
	width: 80%;
}

.input-group-tchat {
	position: absolute;
	bottom: 0;
	top: 110%;
	width: 80%;
	margin: auto;
}

#tchat h3 {
	text-align: center;
}

#msg-form {
	padding-top: 50px;
}

.homme {
	color: #99CCFF;
}

.femme {
	color: #FF99FF;
}


#cmd-list {
	width: 600px;
	height: 200px;
}