<!DOCTYPE html>
<html>
	<head>
		<title>Projet stage</title>
		<meta charset='utf-8' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div id="tchat">
			<div class="panel panel-users panel-default">
  				<div class="panel-heading">
    				<h3 class="panel-title">Utilisateurs</h3>
  				</div>
  				<div class="panel-body">
    				<ul class="list-group users-list">
				  	</ul>
  				</div>
			</div>

			<div class="panel panel-center panel-default">
  				<div class="panel-heading">
    				<h3 class="panel-title">Mon mini-tchat</h3>
  				</div>
  				<div class="panel-body">
    				<ul class="list-group list-msg">
    					<script type="text/template" id="msg-tpl">
							<li class='list-group-item'><%= pseudo %>:<br /><%= message %></li>
    					</script>
    					<div id="msg-container-tpl"></div>
				  	</ul>
  				</div>
  				<form action="" id="msg-form">
					<div class="input-group input-group-tchat">
						<span class="input-group-btn">
							<input class="btn btn-default" type="submit" value="envoyer"/>
						</span>
						<input type="text" class="form-control" id="msg" placeholder="Message">
					</div>
				</form>
			</div>
		</div>
		<div id="login">
			<div id="login-box">
				<form action="" id="login-form">
					<input type="text" class="form-control" name="username" id="username" placeholder="Pseudo" />
					<input type="email" class="form-control" name="email" id="email" placeholder="Entrer email">
					<input type="radio" name="sexe" value="homme" id="homme" /> <label for="homme">Homme</label>
       				<input type="radio" name="sexe" value="femme" id="femme" /> <label for="femme">Femme</label>
       				<input type="radio" name="sexe" value="secret" id="secret" checked /> <label for="secret">Secret</label>
					<input class="btn btn-primary btn-lg btn-block" type="submit" id="submit" value="Rejoindre" />
				</form>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="http://localhost:4242/socket.io/socket.io.js"></script>
		<script src="js/client.js"></script>
		<script src="js/underscore.js"></script>
    	<script src="js/backbone.js"></script> 
	</body>
</html>